@import "dracula-highlight";
// -------------- THEME SWITCHER -------------- //

@mixin dark-theme {
  --code-bg: #282a36;
  --bg: rgba(0, 0, 0, 0.9);
  --text: white;
  --link: #a0d86c;
  --link-2: #e2872c;
}

html {
  // --bg: #fafafa;
  --code: #fff;
  --code-bg: #282a36;
  --text: #222;
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    @include dark-theme();
  }
}
html.dark {
  @include dark-theme();
}

.dark {
  a {
    color: var(--link-2);
    &:visited {
      color: var(--link);
    }
  }
}

html.loaded body {
  transition: all 0.3s ease-in-out;
}

#toggler {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Segoe UI Emoji, Apple Color Emoji, Noto Color Emoji, sans-serif;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.site-header{
  position: relative;
}

// -------------------------------------------- //

html {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta {
  text-align: right;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: yellow;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before {
    content: "/////";
  }
  &:after {
    content: attr(data-content) "/////";
  }
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: var(--code);
  background: var(--code-bg);
  padding: 2px 5px;
  border-radius: 2.5px;
  font-size: 80%;
}

.highlight code {
  font-size: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px #2224, 0 0 10px #3338;
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.meme {
  padding: 1rem;
  img {
    max-width: 80%;
    border: 2px solid #282828;
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.333);
  }
}

img.bttv {
  display: inline;
  width: 2rem;
  padding: 0 4px;
  line-height: 2rem;
  vertical-align: middle;
  &.mega{
    display: block;
    width: 30%;
  }
}
